@import "./../node_modules/bootstrap/dist/css/bootstrap.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Questrial', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #f5faff;
}